@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

@font-face {
    font-family: 'AA Haymaker';
    src: url('../fonts/AAHaymaker.woff2') format('woff2'),
        url('../fonts/AAHaymaker.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html,
body 
{
    font 16px 'AA Haymaker';
    font-weight 400;
	line-height 1.5;
    background: linear-gradient(90deg, rgb(17, 5, 59), rgb(30, 11, 99), rgb(17, 5, 59));
    color rgb(250, 255, 175);
    -ms-user-select none;
    -moz-user-select none;
    -webkit-user-select none;
    user-select none;
    -webkit-tap-highlight-color transparent;
}
.wrapper
{
    width 100%;
    height 100vh;
}
.preloader
{
    display flex;
    align-items center;
    justify-content center;
    position fixed;
    top 0;
    left 0;
    right 0;
    bottom 0;
    width 100%;
    height 100%;
    z-index 9999;
    background: linear-gradient(90deg, rgb(17, 5, 59), rgb(30, 11, 99), rgb(17, 5, 59));
    visibility visible;
    opacity 1;
    transition 0.5s;
}
.loader {
    width 50px;
    height 50px;
    position relative;
    animation loader 2s infinite ease-in-out;

    & span {
        width 50px;
        height 50px;
        position absolute;
        left 0;
        top 0;
        border 4px solid #fff;
        display flex;
        align-items center;
        justify-content center;
    }

    & span:nth-child(1) 
    {
        animation span-1 2s ease-in-out infinite;
    }

    & span:nth-child(2) 
    {
        animation span-2 2s ease-in-out infinite;
    }

    & span:nth-child(3) 
    {
        animation span-3 2s ease-in-out infinite;
    }

    & span:nth-child(4) 
    {
        animation span-4 2s ease-in-out infinite;
    }
}
.container
{
    display flex;
    align-items center;
    justify-content center;
    max-width 420px;
    min-width 320px;
    min-height 100vh;
    margin 0 auto;
    padding 2rem;
}
.app
{
    display flex;
    flex-direction column;
    align-items center;
    justify-content center;
    flex 1 1 auto;

    &__title 
    {
        font 2.25rem 'AA Haymaker';
        font-weight 700;
        text-align center;
        margin-bottom 1rem;
    }

    &__discription
    {
        display flex;
        align-items center;
        justify-content center;
        max-width 300px;
        width 100%;
        height 28px;
        font 1rem 'AA Haymaker';
        position relative;
    }

    &__rules,
    &__box 
    {
        position absolute;
        left 0;
        top 0;
        width 100%;
        height 100%;
        z-index 10;
        opacity 1;
        transition 0.5s;
    }

    &__rules
    {
        text-align center;
    }

    &__box
    {
        display flex;
        align-items center;
        justify-content space-around;
        width 100%;
        height 28px;
    }

    &__total
    {
        font 1rem 'AA Haymaker';
        font-weight 400;
        text-align center;
    }

    &__indicator
    {
        display inline-flex;
        font 1rem 'Rye', cursive;
        font-weight 400;
        line-height 1.6;
    }

    &__counter 
    {
        width 50px;
    }

    &__timer
    {
        width 86px;
    }

    &__puzzle
    {
        width 100%;
        padding-bottom 100%;
        margin 1.2rem 0;
        background-position center;
        position relative;
    }

    &__puzzle--overlay
    {
        position absolute;
        top 0;
        left 0;
        right 0;
        bottom 0;
        z-index 1;
        width 100%;
        height 100%;
        background rgb(250, 255, 175);
        box-shadow 0 0 2px rgb(250, 255, 175),
                    2px 2px 2px rgb(51, 16, 22),
                    2px -2px 2px rgb(51, 16, 22),
                    -2px 2px 2px rgb(51, 16, 22),
                    -2px -2px 2px rgb(51, 16, 22);
    }

    &__puzzle--lock
    {
        position absolute;
        top 0;
        left 0;
        width 100%;
        height 100%;
        z-index 1000;
        background rgba(0, 0, 0, .8);
        display flex;
        align-content center;
        justify-content center;
        flex-wrap: wrap;
        transition: 0.5s;
        padding 2%;
    }

    &__puzzle--box 
    {
        width 100%;
        border 1px solid rgb(250, 255, 175);
        background: linear-gradient(90deg, rgb(0, 0, 0), rgb(35, 11, 16), rgb(51, 16, 22), rgb(35, 11, 16), rgb(0, 0, 0));
    }

    &__puzzle--header,
    &__puzzle--wrap
    {
        display flex;
        align-items center;
        justify-content center;
        width 100%;
        padding 10px 0;
    }

    &__puzzle--header
    {
        border-bottom: 1px solid rgb(250, 255, 175);
    }

    &__puzzle--name:nth-child(2),
    &__puzzle--result:nth-child(2)
    {
        border-right 1px solid rgb(250, 255, 175);
        border-left 1px solid rgb(250, 255, 175);
    } 

    &__puzzle--name:not(:nth-child(2)),
    &__puzzle--result:not(:nth-child(2))
    {
        flex-basis 38%;
    }

    &__puzzle--name:nth-child(2),
    &__puzzle--result:nth-child(2)
    {
        min-width: 60px;
        flex-basis 24%;
    }

    &__puzzle--name,
    &__puzzle--result  
    {
        font-size 1rem;
        text-align center;
    }

    &__puzzle--name
    {
        font-weight 600;
    }

    &__puzzle--main
    {
        width 100%;
    }

    &__puzzle--current:not(:last-child)
    {
        border-bottom 1px solid rgb(250, 255, 175);
    }

    &__puzzle--total
    {
        font 1rem 'Rye', cursive;
        font-weight 400;
    }

    &__puzzle--shuffle
    {
        width 130px;
        height 43px;
        font 1rem 'AA Haymaker';
        font-weight 600;
        margin-top 1.325rem;
        background: linear-gradient(90deg, rgb(0, 0, 0), rgb(35, 11, 16), rgb(51, 16, 22), rgb(35, 11, 16), rgb(0, 0, 0));
        color rgb(250, 255, 175);
        text-align center;
        position relative;
        overflow hidden;
        z-index 1;

        &:before
        {
            content '';
            width 0%;
            height 100%;
            position absolute;
            top 50%;
            left 50%;
            transform translate(-50%,-50%);
            z-index -1;
            background: linear-gradient(0deg, rgb(0, 0, 0), rgb(35, 11, 16), rgb(51, 16, 22), rgb(35, 11, 16), rgb(0, 0, 0));
            transition 1s;
        }

        &.animate-btn:before
        {
            width 100%;
        }

        & svg 
        {
            position absolute;
            left 0;
            top 0;
        }

        & svg rect 
        {
            stroke rgb(250, 255, 175);
            stroke-width 1;
            stroke-dasharray 400, 0;
            transition 1s;
        }

        &.animate-btn svg rect
        {
            stroke rgb(30, 11, 99);
            stroke-width 3;
            stroke-dasharray 0, 230;
            stroke-dashoffset 58;
        }
    }

    &__puzzle.won 
    {
        .app__puzzle--item
        {
            box-shadow inset 0 0 6px rgb(180, 21, 87);
        }
    }

    &__puzzle--btn 
    {
        position absolute;
        top 0;
        left 0;
        width 25%;
        height 25%;
        font 2rem 'Rye', cursive;
        font-weight 400;
        background: linear-gradient(90deg, rgb(0, 0, 0), rgb(35, 11, 16), rgb(51, 16, 22), rgb(35, 11, 16), rgb(0, 0, 0));
        color rgb(250, 255, 175);
        box-shadow inset 0 0 2px rgb(250, 255, 175);
        transition transform .2s;
    }

    &__puzzle--item 
    {
        display flex;
        align-items center;
        justify-content center;
        width 80%;
        height 80%;
        margin 10%;
        box-shadow inset 0 0 6px rgb(252, 192, 27);
    }

    &__puzzle--public
    {
        position absolute;
        bottom 0;
        left 0;
        z-index 0;
        width 100%;
        height 44px;
        background: linear-gradient(90deg, rgb(0, 0, 0), rgb(35, 11, 16), rgb(51, 16, 22), rgb(35, 11, 16), rgb(0, 0, 0));
        display flex;
        align-items center;
        justify-content center;
        font 1rem 'AA Haymaker';
        transition: transform 0.5s;
    }

    &__puzzle--public.open
    {
        transform: translateY(54px);
        box-shadow 0 0 2px rgb(250, 255, 175),
            2px 2px 2px rgb(51, 16, 22),
            2px -2px 2px rgb(51, 16, 22),
            -2px 2px 2px rgb(51, 16, 22),
            -2px -2px 2px rgb(51, 16, 22);
    }

    &__actual.animate-opacity,
    &__record.animate-opacity,
    &__record--time.animate-opacity
    {
        animation: animate-opacity 0.5s;
        animation-iteration-count: 5;
    }
}

.hide 
{
    opacity 0;
    visibility hidden;
}

@keyframes animate-opacity
{
    0%, 100% 
    {
        opacity 1;
    }
    50% 
    {
        opacity 0.2;
    }
}

@keyframes loader 
{
    0% 
    { 
        transform rotate(-45deg); 
    }
    50% 
    { 
        transform rotate(-135deg); 
    }
    100% 
    { 
        transform rotate(-225deg); 
    }
}

@keyframes span-1 
{
    0%, 100% 
    { 
        transform translate(0); 
    }
    50% 
    { 
        transform translate(-50px, 0); 
        border-color rgb(238, 77, 104); 
    }
}

@keyframes span-2 
{
    0%, 100% 
    { 
        transform translate(0); 
    }
    50% 
    { 
        transform translate(50px, 0); 
        border-color rgb(135, 86, 120); 
    }
}

@keyframes span-3 
{
    0%, 100% { 
        transform translate(0); 
    }
    50% 
    { 
        transform:translate(0, -50px); 
        border-color rgb(255, 153, 0); 
    }
}

@keyframes span-4 
{
    0%, 100% 
    { 
        transform translate(0); 
    }
    50% 
    { 
        transform translate(0, 50px); 
        border-color rgb(0, 228, 246); 
    } 
}

/** Media */
@media (max-width: 360px)
{
    .app
    {
        &__title
        {
            font-size 2rem;
        }

        &__discription,
        &__total,
        &__indicator,
        &__puzzle--name,
        &__puzzle--result,
        &__puzzle--shuffle,
        &__puzzle--public
        {
            font-size 0.875rem;
        }

        &__counter 
        {
            width 40px;
        }

        &__timer
        {
            width 62px;
        }

        &__puzzle--btn
        {
            font-size 1.5rem;
        }

        &__puzzle--shuffle 
        {
            width 110px;
            height 38px;

            & svg
            {
                width 110px;
                height 38px;
            }
        }
    }
}


