@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

body,
html 
{
    font 16px/1.4 'Playfair Display', serif;
    font-weight 400;
	line-height normal;
    background rgb(26, 54, 26);
    color rgb(250, 255, 175);
    -ms-user-select none;
    -moz-user-select none;
    -webkit-user-select none;
    user-select none;
    -webkit-tap-highlight-color transparent;
}
.wrapper
{
    display flex;
    align-items center;
    justify-content center;
    max-width 420px;
    min-width 320px;
    min-height 100vh;
    margin 0 auto;
    padding 2rem;
}
.app
{
    display flex;
    flex-direction column;
    align-items center;
    justify-content center;
    flex 1 1 auto;

    &__title 
    {
        font 2rem/1.2 'Playfair Display', serif;
        font-weight 600;
        text-align center;
    }

    &__puzzle
    {
        width 100%;
        padding-bottom 100%;
        margin 2rem 0;
        background rgb(250, 255, 175);
        box-shadow 0 0 2px rgb(250, 255, 175);
        position relative;
    }

    &__puzzle.won 
    {
        .app__puzzle--btn 
        {
            color rgb(255, 0, 106);
        }
        .app__puzzle--item
        {
            box-shadow inset 0 0 6px rgb(255, 0, 106);
        }
    }

    &__puzzle--btn 
    {
        position absolute;
        top 0;
        left 0;
        width 25%;
        height 25%;
        font 2rem 'Playfair Display', serif;
        font-weight 400;
        background rgb(9, 17, 1);
        color rgb(252, 192, 27);
        box-shadow inset 0 0 2px rgb(250, 255, 175);
        transition: transform .5s;
    }

    &__puzzle--item 
    {
        display flex;
        align-items center;
        justify-content center;
        width 80%;
        height 80%;
        margin 10%;
        box-shadow inset 0 0 6px rgb(252, 192, 27);
    }

    &__shuffle
    {
        font 1.2rem/1.4 'Playfair Display', serif;
        font-weight 600;
        padding 0.5rem 1.5rem;
        background rgb(9, 17, 1);
        color rgb(250, 255, 175);
        border 1px solid rgb(250, 255, 175);
        position relative;
        overflow hidden;
        transition 1s all ease;
        z-index 1;

        &:before
        {
            content "";
            width 0%;
            height 100%;
            position absolute;
            top 50%;
            left 50%;
            transform translate(-50%,-50%);
            z-index -1;
            background rgba(252, 192, 27, .4);
            transition all 0.6s ease;
        }

        &:hover:before
        {
            width 100%;
        }
    }
}



