doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Puzzle
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        - var values = new Array(16).fill(0).map((_item, index) => index + 1);
        .wrapper
            .app
                h1.app__title «Пятнашки»
                .app__puzzle#app__puzzle
                    each val in values
                        button.app__puzzle--btn(data-matrix-id=val)
                            span.app__puzzle--item=val
                button.app__shuffle#app__shuffle Перемешать
        script(src="/js/index.js")
