doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Puzzle

        meta(name="description" content="Квадратики с номерами расставлены по полю в случайном порядке. Цель игры – перемещать квадратики, упорядочивать их по номерам, используя свободное «окно», совершив при этом наименьшее количество ходов.")
        meta(property="og:type" content="website")
        meta(property="og:title" content="«Пятнашки»")
        meta(property="og:description" content="Игра «Пятнашки» - популярная головоломка")
        meta(property="og:url" content="https://andre-dragon.github.io/fifteen-puzzle/")
        meta(property="og:image" content="https://im.wampi.ru/2022/07/28/fifteen.png")

        link(rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png")

        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png")
        meta(name="theme-color" content="ffffff")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        link(rel="stylesheet" href="./css/reset.css")
        link(rel="stylesheet" href="./css/index.css")
    body
        - var values = new Array(16).fill(0).map((_item, index) => index + 1);
        .wrapper
            .preloader
                .loader 
                    span
                    span
                    span
                    span
            .container
                .app
                    h1.app__title «Пятнашки»
                    .app__discription 
                        p.app__rules Собери цифры по порядку
                        .app__box.hide
                            .app__total Ходов: 
                                span.app__indicator.app__counter#app__counter 0
                            .app__total Время: 
                                span.app__indicator.app__timer
                                    span.app__timer--minute#minute 00
                                    span :
                                    span.app__timer--second#second 00
                                    span :
                                    span.app__timer--millisecond#millisecond 00
            
                    .app__puzzle#app__puzzle
                        .app__puzzle--overlay
                            each val in values
                                button.app__puzzle--btn(data-matrix-id=val)
                                    span.app__puzzle--item=val

                            .app__puzzle--lock#app__puzzle--lock 
                                .app__puzzle--box
                                    .app__puzzle--header 
                                        .app__puzzle--name Результат
                                        .app__puzzle--name Ходов
                                        .app__puzzle--name Время
                                    .app__puzzle--main
                                        .app__puzzle--current
                                            .app__puzzle--wrap.app__actual
                                                .app__puzzle--result Текущий
                                                .app__puzzle--result.app__puzzle--total#app__result--count 0
                                                .app__puzzle--result.app__puzzle--total#app__result--time 00:00:00
                                        .app__puzzle--current
                                            .app__puzzle--wrap.app__record
                                                .app__puzzle--result Рекорд
                                                .app__puzzle--result.app__puzzle--total#app__record--count 0
                                                .app__puzzle--result.app__puzzle--total.app__record--time#app__record--time 00:00:00
                                button.app__puzzle--shuffle#app__shuffle Играть
                                    svg(width="120" height="37" viewBox="0 0 120 37" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="0" y="0" fill="none" width="120" height="37")
                        .app__puzzle--public

        script(src="./js/index.js")
